Repository Stanislavstranger/core: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail, playwright test --reporter=list

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write", "jest --bail"],
  "*.{json,md,css,html}": ["prettier --write"],
  "*": ["playwright test --reporter=list"]
}

feat: ci add pull request check
  .github/workflows/check-pr.yml
  .github/workflows/playwright.yml
  .lintstagedrc.json
Due: prettier --write, playwright test --reporter=list

chore: fix lint-staged jest command with --findRelatedTests
  .lintstagedrc.json
Due: prettier --write, playwright test --reporter=list

feat: add h1 on page.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write, jest --bail, playwright test --reporter=list

refactor(types): use Pick to limit ServiceListElement to id, name and description
  src/features/services-list/model/types.ts
Due: eslint --fix, prettier --write, jest --bail, playwright test --reporter=list

chore: add type-checking to lint-staged and enable tsBuildInfoFile in tsconfig
  .lintstagedrc.json
  tsconfig.json
Due: prettier --write, playwright test --reporter=list

feat: add deploy-staging.yml
  .github/workflows/deploy-staging.yml
Due: playwright test --reporter=list

feat(ci/cd): add GitHub Actions workflow for production deployment
  .github/workflows/deploy-prod.yml
Due: playwright test --reporter=list

feat: integrate Exceptionless (server+client) with request-id correlation; add test routes & helpers
  .env.example
  .exceptionless/exceptionless-settings
  package-lock.json
  package.json
  src/app/_exceptionless/ClientProvider.tsx
  src/app/api/crash/route.ts
  src/app/api/warn/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/test-button.tsx
  src/features/services-list/action.ts
  src/instrumentation.edge.ts
  src/instrumentation.node.ts
  src/middleware.ts
  src/shared/errors/errors.ts
  src/shared/errors/index.ts
  src/shared/lib/exceptionless.ts
  src/shared/lib/handle-server-error.ts
  src/shared/server/request-id.ts
Due: eslint --fix, prettier --write, jest --bail, playwright test --reporter=list
